@import "./scss/reset", "./scss/color";

body {
	background-color: $white;
}

select {
	background-color: $fff;
	color: $gray-dark;
	border: 1px solid transparentize($gray, .65);

	&:focus {
		border: 1px solid $point;
		outline: 1px solid $point;
	}
}

input {
	background-color: $fff;
	border: 1px solid transparentize($gray, .65);

	&:disabled {
		background-color: $gray-dark;
		color: $white;
	}

	&:read-only {
		cursor: default;
		background-color: $gray-light;
		pointer-events: none;
	}

	&[type="text"],
	&[type="password"] {
		&:focus {
			border: 1px solid $point;
			outline: 1px solid $point;
		}
	}
}

.checkBoxDiv {
	transform-origin: left;
	transform: scale(.9);
	display: flex;
	align-items: center;
	cursor: pointer;

	label.checkBox {
		width: 15px;
		height: 15px;
		border: 3px solid transparentize($gray , .5);
		border-radius: 5px;
		position: relative;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
		cursor: pointer;
		display: block;
	}

	input.chkBox {
		display: none;

		&:checked+label.checkBox {
			background-color: $point;

			&::before {
				content: '';
				position: absolute;
				top: -1px;
				left: 3px;
				width: 10px;
				height: 13px;
				box-shadow: inset 3px 3px $fff;
				transform: rotate(-135deg);
			}
		}
	}

	span{
		margin-left: .2rem;
		font-size: 1rem;
	}
}

.radioDiv {
	display: flex;

	input {
		display: none;

		&:checked+label {
			transition: ease-out .2s;
			border: 3px solid $point;

			&::before {
				content: '';
				width: 12px;
				height: 12px;
				position: absolute;
				top: 4px;
				left: 4px;
				background: $point;
				border-radius: 50%;
			}
		}
	}

	label {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 3px solid transparentize($gray , .5);
		transition: ease-out .2s;
		position: relative;
		cursor: pointer;
		display: block;
		transform-origin: left;
		transform: scale(.8);

		&:hover {
			border: 3px solid $gray-dark;
		}
	}
}

.toggleDiv {
	transform-origin: left;

	input[type=checkbox].toggle {
		position: absolute;
		opacity: 0;
		z-index: -1;

		&:checked+.check-trail {
			background: $point;

			.check-handler {
				margin-left: 55%;
			}
		}
	}

	.check-trail {
		transform: scale(.8);
		transform-origin: left;
		display: flex;
		align-items: center;
		width: 60px;
		height: 30px;
		background: $gray-light;
		border-radius: 15px;
		transition: all 0.2s ease;
		cursor: pointer;
	}

	.check-handler {
		display: flex;
		margin-left: 5px;
		justify-content: center;
		align-items: center;
		width: 22px;
		height: 22px;
		background: $white;
		border-radius: 50%;
		transition: all 0.2s ease;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
		position: relative;
	}
}

.scrollable {
	overflow: hidden;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 7px;
		height: 7px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $point;
		border-radius: 5px;
		background-clip: padding-box;
		border: 1px solid transparent;

		&:hover {
			border: none;
		}
	}

	&::-webkit-scrollbar-track {
		background-color: $white;
	}
}

button {
	border: 1px solid $gray-light;
	background: $fff;
	font-size: 1rem;
	cursor: pointer;
	transition: all .2s;
	padding: .2rem;

	&:hover{
		border: 1px solid black;
	}

	&.btn_style_1 {
		border: none;
		background: none;
		font-size: .9rem;
		cursor: pointer;
		font-weight: 300;
		opacity: .7;
		transition: all .2s;

		&.btn_color_point {
			i {
				color: $point;
			}
		}

		&.btn_color_crush {
			i {
				color: $crush;
			}
		}

		&.btn_color_caution{
			i{
				color: $caution;
			}
		}

		&.btn_color_gray {
			i {
				color: $gray;
			}
		}

		&:hover {
			opacity: 1;
		}
	}

	&.btn_style_2 {
		border: none;
		padding: 5px 10px;
		cursor: pointer;
		font-size: .9rem;
		border-radius: 5px;

		&.btn_color_point {
			background: transparentize($point, .8);
			color: $point-dark;

			&:hover {
				background-color: $point;
				color: $fff;
			}
		}

		&.btn_color_caution {
			background-color: transparentize($caution, .4);
			color: $fff;

			&:hover {
				background-color: $caution;
				color: $fff;
			}
		}

		&.btn_color_crush {
			background-color: transparentize($crush, .4);
			color: $fff;

			&:hover {
				background-color: $crush;
				color: $fff;
			}
		}

		&.btn_color_gray {
			background-color: transparentize($gray, .4);
			color: $fff;

			&:hover {
				background-color: $gray;
				color: $fff;
			}
		}
	}

	&.btn_style_3 {
		border: none;
		padding: 3px 5px;
		cursor: pointer;
		font-size: .9rem;
		color: $white;
		transition: all .2s;
		opacity: .8;

		&.btn_color_point {
			background-color: $point;
		}

		&.btn_color_caution {
			background-color: $caution;
		}

		&.btn_color_crush {
			background-color: $crush;
		}

		&.btn_color_gray {
			background-color: $gray;
		}

		&:hover {
			opacity: 1;
		}
	}
}

//ckEditor
.ck-editor__editable[role="textbox"] {
	/* editing area */
	min-height: 200px;
}

@media only screen and (max-width: 1400px) {
	body {
		overflow: scroll;
	}
}

.flex{
	display: flex;
	&.space-between{
		justify-content: space-between;
	}
}

